@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/button-group";

/* Buttons
   ========================================================================== */

.btn {
  font-weight: bold;
  border: 1px solid $base-alpha;
  box-shadow: 0 4px 8px $base-alpha;

  /* Icon handling */

  &::before,
  &::after {
    font-size: 1rem;
  }

  &::before { margin-right: 0.375rem; }
  &::after { margin-left: 0.375rem; }

  &::before,
  &::after,
  > * {
    vertical-align: top;
    display: inline-block;
    line-height: inherit !important;
  }
}

.btn-reset {
  &:before {
    padding-right: 0.25rem;
    @extend %collecticons-arrow-spin-cw;
  }
}

.btn-bookmark {
  &:before {
    padding-right: 0.25rem;
    @extend %collecticons-book-bookmark;
  }
}

.btn-export {
  &:before {
    padding-right: 0.25rem;
    @extend %collecticons-download-2;
  }
}

.btn-options {
  &:before {
    padding-right: 0.25rem;
    @extend %collecticons-ellipsis-vertical;
  }
}

.btn.collecticons-calendar {
  &:after {
    display: none;
  }
}

.btn-clipboard {
  &:before {
    @extend %collecticons-clipboard;
    margin: 0;
  }
}

/* Button contaning icons & icons modifiers
  ========================================================================== */

  .button--text-hidden {
  &::before,
  &::after {
    margin: 0;
  }

  :not(.button-group) & {
    padding-left: 0;
    padding-right: 0;
  }
}