
/* ==========================================================================
   FEWS NET Data Explorer Redesign: Additional Styles
   ========================================================================== */
main.container-fluid {
  min-height: calc(100vh - 6.5rem);
}

#body-row {
  flex-flow: row nowrap;
}

/* Sidebar
   ========================================================================== */

#sidebar-container {
  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100vh - 6.5rem);
  background: $white;
  padding: 0;
  z-index: 4;
  width: 3.75rem;
  transition: all 0.15s ease;

  & .menu-collapsed{
    display: none;
    transition: all 0.15s ease 0.25s;
  }
}

#sidebar-container.sidebar-expanded {
  @include media-breakpoint-up(lg) {
    width: 14rem;
    & .menu-collapsed{
      display: block;
    }
  }
}
.sidebar-container__menu {
  position: sticky;
  top: 3.75rem;
}


/* Menu item*/
#sidebar-container .list-group-item {
  border: none;
  height: 2.75rem;

  &.active {
    color: $primary;
    background-color: rgba($secondary, 0.25);
    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $secondary;
    }
  }
}
#sidebar-container .list-group a {
  font-weight: 600;
  &:hover {
    color: $primary;
    background-color: rgba($secondary, 0.1);
  }
}

/* Separators */
.sidebar-separator-title {
  height: 35px;
  text-transform: uppercase;
}
.sidebar-separator {
  height: 25px;
}

/* Search & Filters
   ========================================================================== */


.filters-box {
  background: white;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 24px rgba(119,119,119,0.11);
  
  &__sub {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    ~ * { 
      padding-top: 0.5rem
    }
    .dropdown {
      margin-right: 1rem;
    }
    @include media-breakpoint-up(xl) {
      ~ * {
        padding-top: 0;
        padding-left: 1rem;
        border-left: 1px solid $base-alpha;
      }
    }
  }

  [class^="col-sm"] {
    padding: 0;
  }
  @include media-breakpoint-up(lg) {
    .col-sm-1 {
      padding-left: 1rem;
    }
    .form-group>label {
      margin-bottom: 0;
      padding-left: 1rem;
    }
  }
}

.filter-badge {
  @extend .badge;
  @extend .badge-pill;
  @extend .badge-secondary;
  color: white;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute !important;
  top: -25% !important;
  right: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.filters-box .form-inline > label {
  justify-content: flex-start;
  width: 6.75%;
  white-space: pre;
}

.filter-actions {
  @extend .d-flex; 
  @extend .flex-nowrap; 
  @extend .align-items-start;
  @extend .col-lg-10; 
  @extend .offset-lg-1; 
  @extend .mb-3;

  .btn {
    font-weight: normal;
    white-space: nowrap;
    &.btn-secondary {
      background-color: lighten($secondary, 30%);
    }
  }
  
  .filter-chips .btn {
    margin-right: 1rem;
    &::after {
      padding-left: 0.25rem;
      @extend %collecticons-xmark--small;
      }
  }
}

/* Typography
   ========================================================================== */

.section--title {
  font-weight: bold;
  color: $base;
}

.section--subtitle {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: $base-med;
}

pre code {
  white-space: pre-wrap;
}

/* Homepage
   ========================================================================== */

.home-overview {
  background-color : white;
  h1 {
    font-weight: bold;
    color: $primary;
  }

  .bg-secondary {
    background-color: rgba($secondary, 0.24) !important;
    color: $primary;
    h2 {
      font-weight: bold;
      color: $primary;
    }
  }
  
  &__stats {
    display: flex;
    justify-content: space-around;

    > div {
      background-color: $base-alpha;
      width: 9rem;
      display: flex;
      flex-flow: column nowrap;
      color: $primary;
      font-size: 0.9rem;
      span {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 0;
      }
    }
  }

  .domain-overview {
    display: flex;
    flex-flow: row wrap;
    a {
      flex: 20%;
      display: flex;
      flex-flow: column nowrap;
      text-transform: uppercase;
      justify-content: center;
      &:hover {
        text-decoration: none;
      }
      & span[class^="collecticons"] {
        font-size: 4rem;
      }
    }
  }
}

/* Main Content
   ========================================================================== */

.main-data-card {
  @extend .card;
  @extend .shadow;
  @extend .rounded-0;
  @extend .p-3;
  min-height: 32rem;
}

/* Footer
   ========================================================================== */

footer {
  background-color: darken($primary, 5%);
  z-index: -1;
  color: white;

  p {
    margin: 0;
    padding: 1rem 0;
    font-size: 0.875rem;
  }

  a, 
  a:hover, 
  a:focus,
  a:visited {
    color: white;
  }
}