@import "../../../node_modules/bootstrap/scss/dropdown";

/* Dropdowns
   ========================================================================== */

.dropdown-header {
  text-transform: uppercase;
}

.dropdown-item {
  &:hover {
    color: $primary;
  }
  &:active,
  &:checked {
    font-weight: bold;
    color: initial;
    text-decoration: none;
    background-color: initial;
  }
  &:active label {
    font-weight: initial;
  }
  
  &.form-group {
    margin: 0;
    padding-bottom: 0.5rem;
    >label {
      margin: 0;
      font-size: 0.875rem;
    }
  }
}


.dropdown-search {
  max-height: 18rem;
  width: 18rem;
  overflow-y: scroll;
  padding-top: 0;
  
  &-header {
    @extend .sticky-top;
    @extend .py-2;
    @extend .bg-white;
    @extend .border-bottom;
  }
  .form-group {
    border: none;
  }
}

.dropdown-toggle {
  &:after {
    @extend %collecticons-chevron-down;
    border: none;
    vertical-align: top;
    margin: 0;
  }
  &.btn-sm:after {
    @extend %collecticons-chevron-down--small;
  }
}

.dropdown-list-group {
  .list-group-item {
    border: none;
    border-radius: 0;
    font-weight: bold;
    &.active {
      color: $primary;
      background-color: rgba($secondary, 0.25);
      &:after {
        @extend %collecticons-tick--small;
        margin-left: auto;
      }
    }
  }
  .list-group-item-action {
    display: flex;
  }
  .list-group-item-action,
  .list-group-item-action.active {
    &:Hover {
      background-color: rgba($secondary, 0.25);
      color: $primary;
      cursor: pointer;
    }
  }
}