/* Nav
   ========================================================================== */
body .navbar:first-of-type {
  .navbar-brand {
    color: $base;
    font-weight: bold;
    font-size: 1rem;
    
    img {
      max-width: 2rem;
    }
  }
  .dropdown .btn {
    font-weight: normal;
    box-shadow: none;
    border: none;
    @include media-breakpoint-up(sm) {
      margin-left: 1rem;
      border: 1px solid rgba(83, 78, 78, 0.12)
    }
  }
}

.nav-tabs {
  .nav-item {
    margin-bottom: 0;
  }
  .nav-link {
    background: transparent;
    border: none;
    transition: 0.4s all ease-out;
    color: $base;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid $body-bg; 
    &.active {
      color: $secondary;
      background-color: transparent;
      border-bottom: 2px solid $secondary; 
    }
  }
}