@import "../../../node_modules/bootstrap/scss/tables";

/* Tables
   ========================================================================== */

.table th {
  border-top: 0;
  font-size: 0.875rem;
  font-weight: normal;
  text-transform: uppercase;
  color: $base-med;
  .custom-checkbox {
    margin-right: -1rem;
    z-index: 1;
  }
}

.table-hover tbody tr {
  &:hover {
    background-color: rgba($secondary, 0.15);
  }
  &:checked {
    background-color: rgba($secondary, 0.24);
  }
}

.main-data-card .table-wrapper {
  max-height: 24rem;
  overflow: overlay;

  thead th {
    position: sticky;
    background: white;
    top: 0;
    box-shadow: 0 4px 4px -3px rgba($base, 0.2);
    z-index: 42;
  }
}