/* Variables
   ========================================================================== */

$primary:                 #4F6228;
$secondary:               #94BA47;
$info:                    #215968;
$base:                    #534E4E;

$base-alpha:              rgba($base, 0.12);
$base-med:                rgba($base, 0.64);
$theme-colors: (
    "primary":            $primary,
    "secondary":          $secondary,
    "base":               $base
);

$body-bg:                 #F1F0F0;
$body-color:                $base;
$headings-color:            $base;
$tooltip-bg:                $info;

$font-family-sans-serif: "Open Sans", sans-serif;

$custom-control-indicator-checked-color: $secondary;
$custom-control-indicator-checked-bg: white;
$custom-control-indicator-checked-border-color: $secondary;